# tuple unpacking with python

In [1]:
stock_prices = [('apple',200),('google',400),('mst',100)]

In [2]:
for i,j in stock_prices:
    print(i)
    print(j)

apple
200
google
400
mst
100

In [13]:
work_hours  = [('abby',100),('billy',4000),('cassey',800)]

In [14]:
def employ_check(work_hours):
    max_time = 0
    employ_of_month = ''
    for name,hours in work_hours:
        if hours > max_time:
            max_time = hours  
            employ_of_month = name
        else:
            pass
    return (employ_of_month,max_time)

In [15]:
res = employ_check(work_hours)
print(res)

('billy', 4000)

In [17]:
name,hours = employ_check(work_hours)
print('{} is  the  employ  of  the  month with {}  hours'.format(name,hours))

billy is  the  employ  of  the  month with 4000  hours

# Interaction between python  functions

# Monte  cup

In [18]:
example  =  [1,2,3,4,5,6,7]
from  random import shuffle
shuffle(example)
example

[2, 1, 5, 4, 6, 3, 7]

In [19]:
def shuffle_list(my_list):
    shuffle(my_list)
    return my_list

In [20]:
res = shuffle_list(example)

In [21]:
print(res)

[6, 5, 4, 2, 7, 3, 1]

In [22]:
my_list = [' ','O',' ']

In [28]:
def player_guess():
    guess = ''
    while guess not in ['0','1','2']:
        
        guess = input('pick a number: 0,1 or 2 : ')
        
    return int(guess)

In [24]:
player_guess()

pick a number: 0,1 or 22

2

In [32]:
def check_guess(my_list,guess):
    if my_list[guess] =='O':
        print('correct')
    else:
        print('wrong  guess')
    print(my_list)

The below code is where functions are interacting with each other

In [36]:
#initial  list
my_list = [' ','O',' ']

#shuffle list
mixed_list = shuffle_list(my_list)

#player guess
guess_pos = player_guess()

#check function
check_guess(mixed_list,guess_pos)

pick a number: 0,1 or 2 : 6
pick a number: 0,1 or 2 : 4
pick a number: 0,1 or 2 : 2
wrong  guess
['O', ' ', ' ']

# *args and **kwargs in python

In [39]:
def myfunc(a,b):
    #return 5% of the sum of a and b
    return sum((a,b)) *0.05

In [40]:
myfunc(40,60)

5.0

In [2]:
def myfunc(a,b,c=0,d=0):
    #return 5% of the sum of a and b
    return sum((a,b,c,d)) *0.05

In [3]:
myfunc(4,5,23)

1.6

# *args

In [4]:
def  myfunc(*args):
    return sum(args)*0.05

In [5]:
myfunc(4,3,2,5,6,7,8,3,6)

2.2

# with  *args we can have arbitary number of arguments

# **kwargs : for arbitary number of keyword arguments

In [12]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print("my fruit of choice is {} ".format(kwargs['fruit']))
    else:
        print("I did not find any fruit here")

In [13]:
myfunc(fruit = 'apple',veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
my fruit of choice is apple

# *args : return a tuple
# *kwargs : return a dictionary

In [16]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print("I would like {} {}".format(args[0],kwargs['fruit']))

In [17]:
myfunc(10,20,30,fruit='apple',color='red')

(10, 20, 30)
{'fruit': 'apple', 'color': 'red'}
I would like 10 apple

In [18]:
def myfunc(*args):
    lst =[]
    for i in args:
        if i%2 ==0:
            lst.append(i)
        else:
            pass
    return lst

In [19]:
myfunc(1,2,3,4,5,6,7,8,9)

[2, 4, 6, 8]

In [30]:
def myfunc(mystr):
    lst = list(mystr)
    res =[]
    num = 0
    for i in lst:
        if num % 2 == 0:
            res.append(i.lower())
            num = num +1
        else:
            res.append(i.upper())
            num = num+1
    ans = ''.join(res)
    return ans

In [31]:
myfunc('rhea')

'rHeA'

# Practice problems

# WARMUP SECTION:


LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5

In [39]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2  ==0:
        return min((a,b))
    else:
        return max((a,b))

In [40]:
# Check
lesser_of_two_evens(2,4)

2

In [41]:
# Check
lesser_of_two_evens(2,5)

5

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

animal_crackers('Levelheaded Llama') --> True

animal_crackers('Crazy Kangaroo') --> False

In [70]:
def animal_crackers(text):
    wordlist = text.lower().split()
    if wordlist[0][0] == wordlist[1][0]:
        return True
    else:
        return False

In [71]:
# Check
animal_crackers('Levelheaded Llama')

True

In [72]:
# Check
animal_crackers('Crazy Kangaroo')

False

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False


makes_twenty(20,10) --> True

makes_twenty(12,8) --> True

makes_twenty(2,3) --> False

In [76]:
def makes_twenty(n1,n2):
    if n1== 20 or n2 == 20:
        return True
    elif n1+ n2 ==20:
        return True
    else:
        return False

In [77]:
# Check
makes_twenty(20,10)

True

In [78]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
old_macdonald('macdonald') --> MacDonald


Note: 'macdonald'.capitalize() returns 'Macdonald'

In [81]:
def old_macdonald(name):
    first = name[:1]
    cap1 = first.upper()
    middle = name[1:3]
    fourth = name[3:4]
    cap4 =  fourth.upper()
    end = name[4:]
    
    return cap1+middle+cap4+end

In [82]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [84]:
old_macdonald('riabasappa')

'RiaBasappa'

MASTER YODA: Given a sentence, return a sentence with the words reversed

master_yoda('I am home') --> 'home am I'

master_yoda('We are ready') --> 'ready are We'


Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:
        

>>> "--".join(['a','b','c'])

>>> 'a--b--c'


This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:
    

>>> " ".join(['Hello','world'])

>>> "Hello world"

In [1]:
def master_yoda(text):
    lst = text.split()
    reversed_lst = lst[::-1]
    return ' '.join(reversed_lst)

In [2]:
# Check
master_yoda('I am home')

'home am I'

In [3]:
# Check
master_yoda('We are ready')

'ready are We'

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

almost_there(90) --> True

almost_there(104) --> True

almost_there(150) --> False

almost_there(209) --> True

In [7]:
def almost_there(n):
    dif1 = abs(100-n)
    dif2 = abs(200-n)
    if dif1 <= 10 or dif2 <= 10:
        return True
    else:
        return False

In [8]:
# Check
almost_there(104)

True

In [9]:
# Check
almost_there(150)

False

In [10]:
# Check
almost_there(209)

True