# list comprehensions

In [1]:
s = 'hello'

In [2]:
l =[]
for i in s:
    l.append(i)
print(l)

['h', 'e', 'l', 'l', 'o']

flattened  out  for  loop

In [3]:
r  = 'rhea'
lst =  [i  for  i in r]
print(lst)

['r', 'h', 'e', 'a']

In [4]:
lst2  =[i  for  i in 'rhea basappa']

In [5]:
lst2

['r', 'h', 'e', 'a', ' ', 'b', 'a', 's', 'a', 'p', 'p', 'a']

we  caan  even  do operations on it

In [7]:
lst3 =  [n**2 for n in range(0,11)]

In [8]:
print(lst3)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
lst4 = [x for x in range(0,11) if x%2 == 0]
print(lst4)

[0, 2, 4, 6, 8, 10]

In [14]:
celcius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp +32) for temp in celcius]
answer = zip(celcius,fahrenheit)

for i,j in answer:
    print('celcius is {} aand consequent fahrenheit temp is {}'.format(i,j))

celcius is 0 aand consequent fahrenheit temp is 32.0
celcius is 10 aand consequent fahrenheit temp is 50.0
celcius is 20 aand consequent fahrenheit temp is 68.0
celcius is 34.5 aand consequent fahrenheit temp is 94.1

In [15]:
lst = []

for x in [2,4,6]:
    for y in [100,200,300]:
        lst.append(x*y)
print(lst)

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [16]:
lst1 = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        lst1.append(x*y)
print(lst1)

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [18]:
lst3 =[x*y  for  x in [2,4,6] for y in [1,10,100]]
print(lst3)

[2, 20, 200, 4, 40, 400, 6, 60, 600]

# assessment

In [19]:
st = 'Print only the words that start with s in this sentence'

In [20]:
words  =  st.split()

In [21]:
print(words)

['Print', 'only', 'the', 'words', 'that', 'start', 'with', 's', 'in', 'this', 'sentence']

In [22]:
for  x  in words:
    if  x[0] =='s':
        print(x)

start
s
sentence

In [26]:
for i  in range(0,10):
    if  i%  2==0:
        print(i)

0
2
4
6
8

In [28]:
lst  = [i for  i in range(1,50)  if  i%3==0]
print(lst)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [29]:

st = 'Print every word in this sentence that has an even number of letters'

In [30]:
words = st.split()

In [33]:
for  x  in  words:
    if  len(x)%2 == 0:
        print('{} length is {}  : even'.format(x,len(x)))

word length is 4  : even
in length is 2  : even
this length is 4  : even
sentence length is 8  : even
that length is 4  : even
an length is 2  : even
even length is 4  : even
number length is 6  : even
of length is 2  : even

In [39]:
for i in range(1,101):
    if i%3 == 0 and i%5 == 0:
        print('fizzbuzz')
    elif i%5  == 0:
        print('buzz')
    elif i%3 == 0 :
        print('fizz')
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [35]:
st = 'Create a list of the first letters of every word in this string'

In [36]:
lst =[x[0] for x in st.split()]

In [37]:
print(lst)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

# Methods and python documentation

In [40]:
lst = [1,2,3]

In [41]:
lst.append(4)
lst

[1, 2, 3, 4]

In [42]:
lst.pop()
lst

[1, 2, 3]

# Introduction to functions

def  keyword

In [47]:
def  name_of_function():
    print('hello')

SyntaxError: invalid syntax (<ipython-input-47-5d99bfceeefd>, line 1)

In [48]:
name_of_function()

hello

In [56]:
def name_of_fun(name):
    print('hello  '  +  name)

In [57]:
name_of_fun('rhea')

hello  rhea

In [58]:
def add_fun(n1,n2):
    return n1+n2

In [60]:
result = add_fun(2,3)
print(result)

5

In [63]:
def say_hello():
    print("hello")
    print("are")
    print('you')

In [64]:
say_hello()

hello
are
you

In [65]:
def say_hello(name):
    print(f'hello  {name}')

In [66]:
say_hello("rhea")

hello  rhea

In [67]:
say_hello()

TypeError: say_hello() missing 1 required positional argument: 'name'

fixing the above error  with a  default value

In [70]:
def say_hello(name  =  'default  value'):
    print(f'hello  {name}')

In [71]:
say_hello()

hello  default  value

# return vs print

assignment to a variable

In [73]:
def print_result(a,b):
    print (a+b)

In [74]:
def return_result(a,b):
    return a+b

In [75]:
res1 = print_result(10,20)

30

In [76]:
type(res1)

NoneType

In [77]:
res2 = return_result(10,20)

In [78]:
print(res2)

30

In [79]:
type(res2)

int

In [80]:
def sum_num(n1,n2):
    return n1+n2

In [82]:
res = sum_num('10','20')
print(res)
res1 = sum_num(10,20)
print(res1)

1020
30

# functions with logic

In [83]:
def even_check(num):
    res = num % 2 == 0
    return res

In [84]:
even_check(20)

True

In [85]:
even_check(177)

False

In [90]:
#return true if any number is even inside a list

def check_even_list(num_list):
    for num in num_list:
        if num %2 ==  0:
            return True
        else:
            pass
    return False

In [91]:
res = check_even_list([1,3,5,7,9])
print(res)

False

In [92]:
res = check_even_list([1,3,5,4,7,9])
print(res)

True

In [93]:
#return even numbers in  a list

def return_even_num(num_list):
    even_num = []
    
    for  num  in num_list:
        if  num%2 ==  0:
            even_num.append(num)
        else:
            pass
    return even_num

In [94]:
return_even_num([1,2,3,4,5,6,7,8,9])

[2, 4, 6, 8]