# LEVEL 2 PROBLEMS

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.


has_33([1, 3, 3]) → True

has_33([1, 3, 1, 3]) → False

has_33([3, 1, 3]) → False

In [33]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
        
    return False

In [34]:
# Check
has_33([1, 3, 3])

True

In [35]:
# Check
has_33([1, 3, 1, 3])

False

In [36]:
# Check
has_33([3, 1, 3])

False

PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

paper_doll('Hello') --> 'HHHeeellllllooo'

paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [63]:
def paper_doll(text):
    result = ''
    for char in text:
        result += char*3
    return result

In [64]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [65]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

blackjack(5,6,7) --> 18

blackjack(9,9,9) --> 'BUST'

blackjack(9,9,11) --> 19

In [78]:
def blackjack(a,b,c):
    sum_3 = a+b+c
    if sum_3 <= 21:
        return sum_3
    else:
        if a== 11 or b ==11 or c==11:
            new_sum = sum_3 - 10
            if new_sum > 21:
                return 'BUST'
            else:
                return new_sum
        else:
            return 'BUST'

In [82]:
def blackjack(a,b,c):
    if sum([a,b,c])<= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c])<= 31:
        return sum([a,b,c])-10
    else:
        return 'BUST'

In [83]:
# Check
blackjack(5,6,7)

18

In [84]:
# Check
blackjack(9,9,9)

'BUST'

In [85]:
# Check
blackjack(9,9,11)

29

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.


summer_69([1, 3, 5]) --> 9

summer_69([4, 5, 6, 7, 8, 9]) --> 9

summer_69([2, 1, 6, 9, 11]) --> 14

In [90]:
def summer_69(arr):
    total = 0
    
    add = True

    
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
    return total

In [91]:
# Check
summer_69([1, 3, 5])

9

In [92]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [93]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS¶

SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
    
 spy_game([1,2,4,0,0,7,5]) --> True

 spy_game([1,0,2,4,0,5,7]) --> True
    
 spy_game([1,7,2,0,4,5,0]) --> False

In [98]:
def spy_game(nums):
    for i in range(0,len(nums)-1):
        if nums[i]==0 and nums[i+1] ==0 and nums[i+2]==7:
            return True
    return False

In [99]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [100]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [101]:
# Check
spy_game([1,7,2,0,4,5,0])

False

COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number

count_primes(100) --> 25


By convention, 0 and 1 are not prime.

In [104]:
def count_primes(num):
    
    
    #check for 0 or 1 input
    if num < 2:
        return 0
    
    primes = [2]
    x = 3
    
    while x <= num:
        for y in range(3,x,2):
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
            
    print(primes)
    return len(primes)

In [105]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter

print_big('a')


out:   *  

      * *
      
     *****
     
     *   *
     
     *   *
     
     
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns.
For purposes of this exercise, it's ok if your dictionary stops at "E".

In [107]:

def print_big(letter):
    
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [112]:
print_big('e')

*****
*
*****
*
*****

# Lmbda, Map and Filter functions

# Map

In [114]:
def myfunc(n):
    return n*2

In [117]:
my_nums=[1,2,3,4,5]

In [119]:
for item in map(myfunc,my_nums):
    print(item)

2
4
6
8
10

In [120]:
list(map(myfunc,my_nums))

[2, 4, 6, 8, 10]

In [121]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'Even'
    else:
        return 'odd'

In [124]:
names=['rhea','manoj','danush','shashank']

In [125]:
list(map(splicer,names))

['Even', 'odd', 'Even', 'Even']

# Filter

In [127]:
def check_even(n):
    return n%2 == 0

In [128]:
nums=[1,2,3,4,5,6]

In [130]:
list(filter(check_even,nums))

[2, 4, 6]

In [131]:
def check_even(n):
    return n%2 != 0

nums=[1,2,3,4,5,6]

list(filter(check_even,nums))

[1, 3, 5]

# Lambda

In [133]:
#def square(num):
     #return num**2
    
sq = lambda num:num**2
sq(4)

16

In [136]:
def myfunc(n):
    return n**2

list(map(myfunc,my_nums))

[1, 4, 9, 16, 25]

In [137]:
list(map(lambda n:n**2,my_nums))

[1, 4, 9, 16, 25]

In [138]:
list(filter(lambda n: n%2 ==0,my_nums))

[2, 4]

In [139]:
names

['rhea', 'manoj', 'danush', 'shashank']

In [140]:
list(map(lambda name:name[0],names))

['r', 'm', 'd', 's']

In [143]:
list(map(lambda name: name[::-1],names))

['aehr', 'jonam', 'hsunad', 'knahsahs']

# Nested Staatements and Scope

In [145]:
x =25

In [146]:
def printer():
    x = 50
    return x

In [147]:
print(x)

25

# Scope

LEGB rule

L: Local

E: Enclosing local

G: Global

B: Built in

In [156]:
#function inside a function

#global
name = 'global '

def greet():
    #enclosing
    name = 'enclosing'
    
    def hello():
        name = 'local'
        print('hello ' +name)
        
    hello()
    
greet()

hello local

In [157]:
print(name)

global

In [158]:
#function inside a function

#global
name = 'global '

def greet():
    #enclosing
    name = 'enclosing'
    
    def hello():
        #name = 'local'
        print('hello ' +name)
        
    hello()
    
greet()

hello enclosing

In [159]:
#function inside a function

#global
name = 'global '

def greet():
    #enclosing
    #name = 'enclosing'
    
    def hello():
        #name = 'local'
        print('hello ' +name)
        
    hello()
    
greet()

hello global

In [166]:
x = 50
def printer():
    global x
    x = 'new value'
    return x

In [167]:
print(x)

50

In [168]:
x = 50
def printer():
     
    x = 'new value'
    return x

print(x)

50

In [169]:
x = printer()

In [170]:
print(x)

new value

# Methods and Functions Homework

Write a function that computes the volume of a sphere given its radius.


The volume of a sphere is given as

$$\frac{4}{3} πr^3$$

In [173]:
def vol(rad):
    return (4/3)*3.1415*rad*rad*rad

In [174]:
# Check
vol(2)

33.50933333333333

Write a function that checks whether a number is in a given range (inclusive of high and low)

In [267]:
def ran_check(num,low,high):
    for i in range(low,high+1):
        if i== num:
            return True
    return False

In [273]:
def ran_check(num,low,high):
    return num in range(low,high+1)

In [274]:
# Check
ran_check(5,2,7)

True

In [275]:
ran_check(9,7,8)

False

Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.


Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'

Expected Output : 

No. of Upper case characters : 4

No. of Lower case Characters : 33


HINT: Two string methods that might prove useful: .isupper() and .islower()


If you feel ambitious, explore the Collections module to solve this problem!

In [197]:
def up_low(s):
    
    len_s = len(s)
    upper_case = 0
    lower_case = 0
    
    for char in s:
        if char.isupper():
            upper_case += 1
            
        elif char.islower():
            
            lower_case += 1
    print('original string: {}, length: {}'.format(s,len_s))
    print('No of upper case characters {}'.format(upper_case))
    print('No of lower case characters {}'.format(lower_case))

In [198]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

original string: Hello Mr. Rogers, how are you this fine Tuesday?, length: 48
No of upper case characters 4
No of lower case characters 33

Write a Python function that takes a list and returns a new list with unique elements of the first list.


Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]

Unique List : [1, 2, 3, 4, 5]

In [203]:
def unique_list(lst):
    new_lst = []
    
    
    for i in lst:
        if i not in new_lst:
            new_lst.append(i)
        else:
            pass
    return new_lst

In [204]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

Write a Python function to multiply all the numbers in a list.


Sample List : [1, 2, 3, -4]

Expected Output : -24

In [207]:
def multiply(numbers): 
    result = 1
    for num in numbers:
        result = result*num
        
    return result

In [208]:
multiply([1,2,3,-4])

-24

Write a Python function that checks whether a word or phrase is palindrome or not.


Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam,kayak,racecar, or a phrase "nurses run". Hint: You may want to check out the .replace() method in a string to help out with dealing with spaces. Also google search how to reverse a string in Python, there are some clever ways to do it with slicing notation.

In [212]:
def palindrome(s):
    lst = list(s)
    reverse_lst = lst[::-1]
    
    if lst == reverse_lst:
        return True
    else:
        return False

In [213]:
palindrome('helleh')

True

In [214]:
palindrome('basappa')

False

In [215]:
palindrome('passassap')

True

Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)


Note : Pangrams are words or sentences containing every letter of the alphabet at least once.

For example : "The quick brown fox jumps over the lazy dog"


Hint: You may want to use .replace() method to get rid of spaces.


Hint: Look at the string module


Hint: In case you want to use set comparisons

In [265]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    set1 = set(alphabet)
    str1 = str1.replace(" ",'')
    str1 = str1.lower()
    set2 = set(str1)
    
    return set1 == set2

In [266]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [218]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'